* {
  box-sizing: border-box;
}
h4 {
  font-weight: bold;
  margin: 4px 0px;
}

.container {
  padding: 24px;
}

.listing {
  width: 75%;
  float: left;
}

.summary {
  width: 25%;
  float: left;
}

.lists li {
  float: left;
  padding: 0px 4px;
  background: #808080;
  height: 300px;
  float: left;
  width: 225px;
  padding: 12px;
  margin: 6px;
}
.cv-cart {
  position: fixed;
  height: 500px;
  border: 1px solid #000;
  width: 300px;
  background: #DEB887;
  margin: 6px;
}
