* {
  box-sizing: border-box;
}
h4 {
  font-weight: bold;
  margin: 4px 0px;
}

.container {
  padding: 24px;
}

.listing {
  width: 75%;
  float: left;
}

.summary {
  width: 25%;
  float: left;
}

.lists li {
  float: left;
  padding: 0px 4px;
  min-height: 256px;
  float: left;
  width: 225px;
  padding: 12px;
  margin: 6px;
  -webkit-box-shadow: 3px 5px 11px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 5px 11px 1px rgba(0,0,0,0.5);
  box-shadow: 3px 5px 11px 1px rgba(0,0,0,0.5);
}

.cv-cart {
  position: fixed;
  min-height: 200px;
  width: 300px;
  margin: 6px;
  padding: 16px;
  -webkit-box-shadow: 3px 5px 11px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 5px 11px 1px rgba(0,0,0,0.5);
  box-shadow: 3px 5px 11px 1px rgba(0,0,0,0.5);
}

.cv-item {
  background: url('../images/try.png') no-repeat;
  width: 100px;
  height: 100px;
  background-size: cover;
  display: table;
  margin: 0 auto;
}

.cv-brand, .cv-name, .cv-detail, .cv-amount {
  text-align: center;
}

.cv-name {
  font-size: 24px;
}

.cv-detail {
  font-size: 15px;
  padding: 10px 0px;
}

.cv-amount {
  padding: 10px 0px;
}

.cv-btn {
  display: table;
  margin: 0 auto;
}

.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.cart-data li {
  float: left;
  width: 50%;
}

.cart-header li {
  float: left;
  width: 25%;
}

.cart-selection li {
  float: left;
  width: 25%;
}

.cart-summary {
  margin: 6px 0px;
}

.cv-center {
  display: table;
  margin: 0 auto;
}

.cv-sel-section {
  /*display: none;*/
}
